<div class=" col-xs-12 col-md-4 q-pa-md">
  <q-card
    class="my-card"
    flat
    style="background: rgba(0, 0, 0, 0.66);
"
  >
    <!-- <img src="https://cdn.quasar.dev/img/parallax2.jpg" /> -->
    <q-img
      v-if="true"
      :src="`api/resources/projects/${project.id}.png`"
      :ratio="1"
      class="background-top"
      style="max-width: 100%;"
      :placeholder-src="imgHolder"
    />
    <q-list>
      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="grey" name="subject" />
        </q-item-section>

        <q-item-section>
          <q-item-label class="text-white" >{{project.name}}</q-item-label>
          <q-item-label class="text-blue-grey-6 ellipsis-2-lines" caption>{{project.description}}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable>
        <!-- <q-item-section avatar>
          <q-icon color="amber" name="local_movies" />
        </q-item-section> -->

        <q-item-section>
            <TagComponent style="zoom: 0.6" v-for="(tag,i) in project.tags" :tag="tag" :key="i"></TagComponent>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</div>
