<div class=" col-xs-12 col-md-3 q-pa-md">
<q-card class="my-card" flat>
    <!-- <img src="https://cdn.quasar.dev/img/parallax2.jpg" /> -->
    <q-img
    v-if="url !== null"
    :ratio="1"
    style="max-width: 100%"
    :placeholder-src="imgHolder"
  />
    <q-list>
      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="primary" name="local_bar" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Bar XYZ</q-item-label>
          <q-item-label caption>Have a drink.</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="red" name="local_gas_station" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Gas Station</q-item-label>
          <q-item-label caption>Fill your gas tank.</q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="amber" name="local_movies" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Cinema XYZ</q-item-label>
          <q-item-label caption>Watch a movie.</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</div>
